# Project exclude paths
/out/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/.gitignore
/exampleOne.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/target/classes/door/AbstructDoor.class
/target/classes/animal/Animal.class
/target/classes/transport/Bicycle.class
/target/classes/transport/Car.class
/target/classes/animal/Cat.class
/target/classes/Client.class
/target/classes/animal/Dog.class
/target/classes/door/DoorGreen.class
/target/classes/door/DoorRed.class
/target/classes/animal/DowncastingExample.class
/target/classes/Employee.class
/.idea/encodings.xml
/target/classes/door/IDoor.class
/target/classes/animal/InstanceOfExample.class
/target/classes/animal/LateBindingExample.class
/target/classes/Light.class
/target/classes/transport/Main.class
/target/classes/Main.class
/target/classes/stat/MathOperations.class
/target/classes/stat/OuterClass$InnerStaticClass.class
/target/classes/stat/OuterClass.class
/target/classes/Person.class
/target/classes/Print.class
/target/classes/tasks/Program.class
/target/classes/stat/StaticExample.class
/target/classes/stringExample/StringBufferExample.class
/target/classes/stringExample/StringBuilderExample.class
/target/classes/tasks/Task.class
/target/classes/tasks/TaskManager.class
/target/classes/transport/Transport.class
/target/classes/animal/UpcastingExample.class
/.idea/workspace.xml
/.idea/
/exampleOne.iml
/my-project.iml
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/compiler.xml